*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: deepskyblue;
}

.App{
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}

.btns{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.btns button{
    border-radius: 10px;
    padding: 3px 7px;
    background-color: aqua;
}